.sideBarHeader{
    display: flex;
    justify-content: center;
}
.logo-schoolName{
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin-top: 2rem;
}
.logo-section{
    background-color: #ff9a00bd;
    padding: 0.4rem 0.9rem;
    /* width: 4.7rem;
    height: 3.7rem; */
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    font-size: 1.9rem;
    -webkit-text-stroke: 0.7px ;
    color:#189ad3; 
}
hr{
    width: 85%;
    margin: auto;
    margin-top: 2.5rem;
    height: 1px;
    border: 0; border-top: 1px solid #ccc;
}
.side-bar-buttons{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 1.4rem;
    height: 3rem;
    width: 80.8%;
    border-radius: 0.6rem;
    margin-left: 1.8rem;
    color: #ccc;
    font-size: 1rem;
}
.side-bar-buttons:hover{
    background-color: #cce0fa5c;
    color: #189ad3;
}
.secondOnes{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 0.5rem;
    height: 3rem;
    width: 80.8%;
    border-radius: 0.6rem;
    margin-left: 1.8rem;
    color: #ccc;
}
.secondOnes:hover{
    background-color: #cce0fa5c;
    color: #189ad3;
}
.btn-icom{
    margin-left: 1rem;
    color: azure;
} 

.btn-name{
    margin-left: 1.4rem;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.58);
}
